:root {

  /* Material Design color palette for Google products */

  --google-red-100: #f4c7c3;
  --google-red-300: #e67c73;
  --google-red-500: #db4437;
  --google-red-700: #c53929;

  --google-blue-100: #c6dafc;
  --google-blue-300: #7baaf7;
  --google-blue-500: #4285f4;
  --google-blue-700: #3367d6;

  --google-green-100: #b7e1cd;
  --google-green-300: #57bb8a;
  --google-green-500: #0f9d58;
  --google-green-700: #0b8043;

  --google-yellow-100: #fce8b2;
  --google-yellow-300: #f7cb4d;
  --google-yellow-500: #f4b400;
  --google-yellow-700: #f09300;

  --google-grey-100: #f5f5f5;
  --google-grey-300: #e0e0e0;
  --google-grey-500: #9e9e9e;
  --google-grey-700: #616161;

  /* Material Design color palette from online spec document */

  --mat-red-50: #ffebee;
  --mat-red-100: #ffcdd2;
  --mat-red-200: #ef9a9a;
  --mat-red-300: #e57373;
  --mat-red-400: #ef5350;
  --mat-red-500: #f44336;
  --mat-red-600: #e53935;
  --mat-red-700: #d32f2f;
  --mat-red-800: #c62828;
  --mat-red-900: #b71c1c;
  --mat-red-a100: #ff8a80;
  --mat-red-a200: #ff5252;
  --mat-red-a400: #ff1744;
  --mat-red-a700: #d50000;

  --mat-pink-50: #fce4ec;
  --mat-pink-100: #f8bbd0;
  --mat-pink-200: #f48fb1;
  --mat-pink-300: #f06292;
  --mat-pink-400: #ec407a;
  --mat-pink-500: #e91e63;
  --mat-pink-600: #d81b60;
  --mat-pink-700: #c2185b;
  --mat-pink-800: #ad1457;
  --mat-pink-900: #880e4f;
  --mat-pink-a100: #ff80ab;
  --mat-pink-a200: #ff4081;
  --mat-pink-a400: #f50057;
  --mat-pink-a700: #c51162;

  --mat-purple-50: #f3e5f5;
  --mat-purple-100: #e1bee7;
  --mat-purple-200: #ce93d8;
  --mat-purple-300: #ba68c8;
  --mat-purple-400: #ab47bc;
  --mat-purple-500: #9c27b0;
  --mat-purple-600: #8e24aa;
  --mat-purple-700: #7b1fa2;
  --mat-purple-800: #6a1b9a;
  --mat-purple-900: #4a148c;
  --mat-purple-a100: #ea80fc;
  --mat-purple-a200: #e040fb;
  --mat-purple-a400: #d500f9;
  --mat-purple-a700: #aa00ff;

  --mat-deep-purple-50: #ede7f6;
  --mat-deep-purple-100: #d1c4e9;
  --mat-deep-purple-200: #b39ddb;
  --mat-deep-purple-300: #9575cd;
  --mat-deep-purple-400: #7e57c2;
  --mat-deep-purple-500: #673ab7;
  --mat-deep-purple-600: #5e35b1;
  --mat-deep-purple-700: #512da8;
  --mat-deep-purple-800: #4527a0;
  --mat-deep-purple-900: #311b92;
  --mat-deep-purple-a100: #b388ff;
  --mat-deep-purple-a200: #7c4dff;
  --mat-deep-purple-a400: #651fff;
  --mat-deep-purple-a700: #6200ea;

  --mat-indigo-50: #e8eaf6;
  --mat-indigo-100: #c5cae9;
  --mat-indigo-200: #9fa8da;
  --mat-indigo-300: #7986cb;
  --mat-indigo-400: #5c6bc0;
  --mat-indigo-500: #3f51b5;
  --mat-indigo-600: #3949ab;
  --mat-indigo-700: #303f9f;
  --mat-indigo-800: #283593;
  --mat-indigo-900: #1a237e;
  --mat-indigo-a100: #8c9eff;
  --mat-indigo-a200: #536dfe;
  --mat-indigo-a400: #3d5afe;
  --mat-indigo-a700: #304ffe;

  --mat-blue-50: #e3f2fd;
  --mat-blue-100: #bbdefb;
  --mat-blue-200: #90caf9;
  --mat-blue-300: #64b5f6;
  --mat-blue-400: #42a5f5;
  --mat-blue-500: #2196f3;
  --mat-blue-600: #1e88e5;
  --mat-blue-700: #1976d2;
  --mat-blue-800: #1565c0;
  --mat-blue-900: #0d47a1;
  --mat-blue-a100: #82b1ff;
  --mat-blue-a200: #448aff;
  --mat-blue-a400: #2979ff;
  --mat-blue-a700: #2962ff;

  --mat-light-blue-50: #e1f5fe;
  --mat-light-blue-100: #b3e5fc;
  --mat-light-blue-200: #81d4fa;
  --mat-light-blue-300: #4fc3f7;
  --mat-light-blue-400: #29b6f6;
  --mat-light-blue-500: #03a9f4;
  --mat-light-blue-600: #039be5;
  --mat-light-blue-700: #0288d1;
  --mat-light-blue-800: #0277bd;
  --mat-light-blue-900: #01579b;
  --mat-light-blue-a100: #80d8ff;
  --mat-light-blue-a200: #40c4ff;
  --mat-light-blue-a400: #00b0ff;
  --mat-light-blue-a700: #0091ea;

  --mat-cyan-50: #e0f7fa;
  --mat-cyan-100: #b2ebf2;
  --mat-cyan-200: #80deea;
  --mat-cyan-300: #4dd0e1;
  --mat-cyan-400: #26c6da;
  --mat-cyan-500: #00bcd4;
  --mat-cyan-600: #00acc1;
  --mat-cyan-700: #0097a7;
  --mat-cyan-800: #00838f;
  --mat-cyan-900: #006064;
  --mat-cyan-a100: #84ffff;
  --mat-cyan-a200: #18ffff;
  --mat-cyan-a400: #00e5ff;
  --mat-cyan-a700: #00b8d4;

  --mat-teal-50: #e0f2f1;
  --mat-teal-100: #b2dfdb;
  --mat-teal-200: #80cbc4;
  --mat-teal-300: #4db6ac;
  --mat-teal-400: #26a69a;
  --mat-teal-500: #009688;
  --mat-teal-600: #00897b;
  --mat-teal-700: #00796b;
  --mat-teal-800: #00695c;
  --mat-teal-900: #004d40;
  --mat-teal-a100: #a7ffeb;
  --mat-teal-a200: #64ffda;
  --mat-teal-a400: #1de9b6;
  --mat-teal-a700: #00bfa5;

  --mat-green-50: #e8f5e9;
  --mat-green-100: #c8e6c9;
  --mat-green-200: #a5d6a7;
  --mat-green-300: #81c784;
  --mat-green-400: #66bb6a;
  --mat-green-500: #4caf50;
  --mat-green-600: #43a047;
  --mat-green-700: #388e3c;
  --mat-green-800: #2e7d32;
  --mat-green-900: #1b5e20;
  --mat-green-a100: #b9f6ca;
  --mat-green-a200: #69f0ae;
  --mat-green-a400: #00e676;
  --mat-green-a700: #00c853;

  --mat-light-green-50: #f1f8e9;
  --mat-light-green-100: #dcedc8;
  --mat-light-green-200: #c5e1a5;
  --mat-light-green-300: #aed581;
  --mat-light-green-400: #9ccc65;
  --mat-light-green-500: #8bc34a;
  --mat-light-green-600: #7cb342;
  --mat-light-green-700: #689f38;
  --mat-light-green-800: #558b2f;
  --mat-light-green-900: #33691e;
  --mat-light-green-a100: #ccff90;
  --mat-light-green-a200: #b2ff59;
  --mat-light-green-a400: #76ff03;
  --mat-light-green-a700: #64dd17;

  --mat-lime-50: #f9fbe7;
  --mat-lime-100: #f0f4c3;
  --mat-lime-200: #e6ee9c;
  --mat-lime-300: #dce775;
  --mat-lime-400: #d4e157;
  --mat-lime-500: #cddc39;
  --mat-lime-600: #c0ca33;
  --mat-lime-700: #afb42b;
  --mat-lime-800: #9e9d24;
  --mat-lime-900: #827717;
  --mat-lime-a100: #f4ff81;
  --mat-lime-a200: #eeff41;
  --mat-lime-a400: #c6ff00;
  --mat-lime-a700: #aeea00;

  --mat-yellow-50: #fffde7;
  --mat-yellow-100: #fff9c4;
  --mat-yellow-200: #fff59d;
  --mat-yellow-300: #fff176;
  --mat-yellow-400: #ffee58;
  --mat-yellow-500: #ffeb3b;
  --mat-yellow-600: #fdd835;
  --mat-yellow-700: #fbc02d;
  --mat-yellow-800: #f9a825;
  --mat-yellow-900: #f57f17;
  --mat-yellow-a100: #ffff8d;
  --mat-yellow-a200: #ffff00;
  --mat-yellow-a400: #ffea00;
  --mat-yellow-a700: #ffd600;

  --mat-amber-50: #fff8e1;
  --mat-amber-100: #ffecb3;
  --mat-amber-200: #ffe082;
  --mat-amber-300: #ffd54f;
  --mat-amber-400: #ffca28;
  --mat-amber-500: #ffc107;
  --mat-amber-600: #ffb300;
  --mat-amber-700: #ffa000;
  --mat-amber-800: #ff8f00;
  --mat-amber-900: #ff6f00;
  --mat-amber-a100: #ffe57f;
  --mat-amber-a200: #ffd740;
  --mat-amber-a400: #ffc400;
  --mat-amber-a700: #ffab00;

  --mat-orange-50: #fff3e0;
  --mat-orange-100: #ffe0b2;
  --mat-orange-200: #ffcc80;
  --mat-orange-300: #ffb74d;
  --mat-orange-400: #ffa726;
  --mat-orange-500: #ff9800;
  --mat-orange-600: #fb8c00;
  --mat-orange-700: #f57c00;
  --mat-orange-800: #ef6c00;
  --mat-orange-900: #e65100;
  --mat-orange-a100: #ffd180;
  --mat-orange-a200: #ffab40;
  --mat-orange-a400: #ff9100;
  --mat-orange-a700: #ff6500;

  --mat-deep-orange-50: #fbe9e7;
  --mat-deep-orange-100: #ffccbc;
  --mat-deep-orange-200: #ffab91;
  --mat-deep-orange-300: #ff8a65;
  --mat-deep-orange-400: #ff7043;
  --mat-deep-orange-500: #ff5722;
  --mat-deep-orange-600: #f4511e;
  --mat-deep-orange-700: #e64a19;
  --mat-deep-orange-800: #d84315;
  --mat-deep-orange-900: #bf360c;
  --mat-deep-orange-a100: #ff9e80;
  --mat-deep-orange-a200: #ff6e40;
  --mat-deep-orange-a400: #ff3d00;
  --mat-deep-orange-a700: #dd2c00;

  --mat-brown-50: #efebe9;
  --mat-brown-100: #d7ccc8;
  --mat-brown-200: #bcaaa4;
  --mat-brown-300: #a1887f;
  --mat-brown-400: #8d6e63;
  --mat-brown-500: #795548;
  --mat-brown-600: #6d4c41;
  --mat-brown-700: #5d4037;
  --mat-brown-800: #4e342e;
  --mat-brown-900: #3e2723;

  --mat-grey-50: #fafafa;
  --mat-grey-100: #f5f5f5;
  --mat-grey-200: #eeeeee;
  --mat-grey-300: #e0e0e0;
  --mat-grey-400: #bdbdbd;
  --mat-grey-500: #9e9e9e;
  --mat-grey-600: #757575;
  --mat-grey-700: #616161;
  --mat-grey-800: #424242;
  --mat-grey-850: #303030;
  --mat-grey-900: #212121;

  --mat-blue-grey-50: #eceff1;
  --mat-blue-grey-100: #cfd8dc;
  --mat-blue-grey-200: #b0bec5;
  --mat-blue-grey-300: #90a4ae;
  --mat-blue-grey-400: #78909c;
  --mat-blue-grey-500: #607d8b;
  --mat-blue-grey-600: #546e7a;
  --mat-blue-grey-700: #455a64;
  --mat-blue-grey-800: #37474f;
  --mat-blue-grey-900: #263238;

  --info-color: var(--mat-blue-a700);
  --success-color: var(--mat-green-a700);
  --warning-color: var(--mat-orange-a700);
  --error-color: var(--mat-red-a700);

}
